body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 100%;
  border: 1px solid gray
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  /* margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; */
}

/* LEFT PANEL */
.left-panel {
  /* background-color: white; */
  grid-area: 1 / 1 / 4 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* left panel info */
.info {
  display: grid;
  grid-template-columns: 2em 10em;
}

.info input {
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  background-color: #eee;
  border: 1px solid #333;
  margin: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1em;
  height: 20px;
}

#green-face {
  background-color: rgba(0, 128, 0, 0.5);
}

#blue-face {
  background-color: rgba(0, 0, 255, 0.281)
}

#red-face {
  background-color: rgba(255, 0, 0, 0.322)
}

#orange-face {
  background-color: rgba(255, 166, 0, 0.486)
}

#yellow-face {
  background-color: rgba(255, 255, 0, 0.39)
}

.info label {
  font-size: 0.5em;
  color: white;
  text-align: right;
  margin: auto 0px auto 0px;
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.info label::after {
  content: ':';
}

/* left panel controls */
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.controls button {
  color: white;
  background-color: #333;
  border: 1px solid silver;
  margin: 0.1em;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1em;
  width: 80%;
  height: 40px;
}

/* left panel dropdown */
.dropdown {
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
}

.dropdown-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index: 1;
  overflow-y: scroll;
  max-height: 200px;
  width: auto;
}

.dropdown-item {
  padding: 6px;
  border-bottom: 1px solid black;
}

.dropdown-item:hover {
  background-color: #aaa7a7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* MAIN */
#main {
  /* background-color: aqua; */
  grid-area: 1 / 2 / 3 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-top {
  width: 100%;
  max-height: 85%;
  height: 85%;
  grid-row-end: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* main cube */
#cube {
  margin: 0px;
  padding: 0px;
}

#cube twisty-player {
  width: 15em;
  height: 15em;
}

/* main timer */
#timer {
  font-size: 2em;
  top: 8.2em;
  left: 0.8em;
  width: 7em;
  padding: 1em;
  border: 1px solid silver;
  border-radius: 1em;
  background-color: #333;
  color: white;
  text-align: center;
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-bottom: 15px;
}

/* main alg-container */
#alg-container {
  display: flex;
  flex-direction: column;
  gap: 20px
}

#alg-name {
  text-align: center;
  color: #3498db;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  font-weight: bolder;
}

#alg-display {
  font-size: 2em;
  top: 8.2em;
  left: 0.8em;
  width: auto;
  padding: 1em;
  border: 1px solid rgb(114, 236, 144);
  border-radius: 1em;
  background-color: rgb(150, 241, 173);
  color: white;
  text-align: center;
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: none;
}

#alg-display-wrong {
  font-size: 2em;
  top: 8.2em;
  left: 0.8em;
  width: auto;
  padding: 1em;
  border: 1px solid rgb(253, 23, 23);
  border-radius: 1em;
  background-color: rgb(247, 114, 114);
  color: white;
  text-align: center;
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: none;
}

.currentMove {
  background-color: #3498db;
  border-radius: 1000px;
  padding-left: 20px;
  width: auto;
  height: auto;
}

.correctMove {
  color: blue;
}

.futureMove {
  color: white;
}

/* main alg-solutions */
.alg-solutions {
  background-color: #3498db;
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}